body{
  height:120vh;
}

.grid-container-whole{
  display:grid;
  grid-template-columns: 5% 60% 30% 5%; /* percentages denote space taken up by each item in the grid */
  height:100%;

}

.grid-container-boardside{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 14% 71% 15%;

}

.grid-container-enemy-player-panel{
  display:grid;
  grid-template-columns: 15% 60% 25%;
  align-items: center;
  justify-items: center;
  margin-top: 1%;
  margin-left: 1%;
}

.grid-container-name-captured{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30%;
  align-items: center;
  justify-items: center;
  width:100%;
  height:10vh;

}

.profile-pic-c{
  width:90%;
  height:10vh;
  background-color: lightskyblue;

}

.name-c{
  width:90%;
  height:4vh;
  background-color: lightskyblue;
  margin-top:2.5%;
}

.captured-c{
  width:90%;
  height:4vh;
  background-color: lightskyblue;
  margin-top:14.5%;
}

.time-c{
  width:90%;
  height:10vh;
  background-color: lightskyblue;

}


.piece-img {
  max-width: 100%;
  max-height: 100%;
  display:flex;
  width:95%;
  height:95%;
}

.parent{
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #000000;
}

.board-column{
  display:flex;
}

.board-container {

  flex-grow: 1;

}

.enemy-panel{
  width:100%;
  height:12vh;
  background-color:rgb(216, 211, 211);
}

.player-panel{
  width:100%;
  height:12vh;
  background-color:rgb(216, 211, 211);
}


.menu-column{
  background-color:rgb(216, 211, 211);
  flex-grow: 1;
}

.row:after{
  content: "";
  display:table;
  clear:both;
}

#game_page{
  background-color:#3b3939;
}

.right{
  border-radius: 5px;
}

.menu-container {
  display:flex;

}

.menu-container > div {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding:20px;
  flex:1;
  font-family: "Arial";

}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.row{
  display: flex;
  flex-direction: row;
}

.square{
  position: relative;
  justify-content: center;
  align-items: center;

  width:10vh;
  height:10vh;

}

.black{
    background-color: #3c3c42;
}

.white{
    background-color: #a6a2a2;
}

.pieceholder{
  position: absolute;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width:90%;
  height:90%;
  /*background-color: #fffc41;*/
  left:5%;
  top:5%;

}

.superscript{
  position:absolute;
  box-sizing: border-box;
  width:35%;
  height:35%;



  right:-5%;
  top: -5%;
  z-index:500;

}
.superscript-img{
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.tilenumber{
  position:absolute;
  width:100%;
  height:100%;
  max-width:25px;
  max-height:25px;
  display: flex;
  color:white;
  left: 2%;
  top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;

}

.tileletter{
  position:absolute;
  display: flex;
  color:white;
  right: 3%;
  bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;

}

.legal-move-space-img{
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 60%;
  max-height: 60%;
  z-index: 3;
}

.menu-image{
  position: relative;
  top:0;
  left: -5vh;
  width: 4vh;
  height: 4vh;
  border: 10px black;
  cursor: pointer;
}


/* UNUSED

.logo{
  width: 20%;
  height: 20%;
  max-width: 5vw;
  max-height: 5vw;
}


footer{
  display:flex;
  width:100%;
  height:100px;
  margin-top: 100px;
  background-color: #2B2929;
  color: white;
  justify-content: center;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
}
*/

.promotion {
    position: relative;
    z-index: 5;
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    left: -150%;
    top: -100%;
    width: 40vh;
    height: 10vh;
    background-color: #736f6f;
    box-shadow: 1px -4px 10px 2px rgba(0,0,0,.7);
    border-radius: 4px;
}

.promotion img {
    position: relative;
    height:90%;
    background-color: #d6d6d6;
    border-radius: 4px;
}
